.pageSectionOuter{
    display: flex;
    flex-direction: row;
    width: 16%;
    justify-content: space-between;
}
.pageSectionOuter p{
    font-weight: 800;
    font-size: 25px;
}

.prevIcon{
    scale: 0.8;
    cursor: pointer;
    transition: 0.2s;
}
.prevIcon:hover {
    scale: 0.85;
}

.nextIcon{
    scale: 0.8;
    cursor: pointer;
    transition: 0.2s;
    rotate: 180deg;
}
.nextIcon:hover {
    scale: 0.85;
}