.page-section-outer{
    display: flex;
    flex-direction: row;
    width: 16%;
    justify-content: space-between;
}
.page-section-outer p{
    font-weight: 800;
    font-size: 25px;
}

.prev-icon{
    scale: 0.8;
    cursor: pointer;
    transition: 0.2s;
}
.prev-icon:hover {
    scale: 0.85;
}

.next-icon{
    scale: 0.8;
    cursor: pointer;
    transition: 0.2s;
    rotate: 180deg;
}
.next-icon:hover {
    scale: 0.85;
}