.searchAndLogin{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 27vw);
    height: 15vh;
    /* background-color: aqua; */
    justify-content: space-around;
    align-items: center;

}

.searchBar{
    flex: 3;
    /* width: 100%; */
    /* background-color: red; */
    height: 100%;
    /*padding-right: 5%;*/
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* height: 50%; */
    /* display: flex; */
    /* position: relative; */
    /* border-radius: 40px; */

}
.explore{
    color: #A449FF;
    margin: 0;
    display: flex;
    height: 5vh;
    align-items: end;
    padding-left: 3%;
    font-size: 22px;
    transform: translateY(10px);
}
.authSection{
    flex: 1;
    border-radius: 40px ;
    box-shadow: 0px 4px 24px -6px #000000;
    height: 50%;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    line-height: 7.5vh;
    font-weight: 500;
    font-size: 20px;
    justify-content: center;
    background: #FFFFFF;
    opacity: 0.9;
}

.login{
    /* background: #FFFFFF;
    opacity: 0.9; */
    border-radius: 40px 0px 0px 40px;
    height: 100%;
    width: 50%;

}
.signUp{
    background: #D7D7D7;    
    opacity: 0.9;
    border-radius: 0px 40px 40px 0px;
    height: 100%;
    width: 50%;
}


.enterInput{
    /* border: 1px solid black; */
    border-radius: 40px 40px 40px 40px;
    width: 95%;
    height: 35%;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 24px -6px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2.5px);
    transition: 0.15s;

}
.enterInput input{
    font-size: 20px;
}

.enterInput input{
    font-weight:bolder;
    background-image: linear-gradient(
        90deg,
        /* rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100% */
        #6100c3 0%,
        #f91af9 50%,
        #6100c3 100%
    );
  
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-size:50%;
    
    width: 100%;
    /* background-color: green; */
    opacity: 1;
    border: none;
    outline: none;
    height: 100%;
    /* border-radius: 40px 40px 0 0; */
    /* background: transparent; */
    margin-left: 5%;
    margin-right: 5%;
    opacity: 100%;
    caret-color: #FF7FFF;

}

/* .enter-input:hover + .input-options{
    opacity: 1;
    transition: 0.3s;
} */

.inputOptions{
    border-radius: 0 0 40px 40px;
    width: 95%;
    height: 35%;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 24px -6px rgba(0, 0, 0, 1);
    opacity: 0;
    backdrop-filter: blur(2.5px);
    transition: 0.3s;
    font-weight: 600;

}
.inputOptionsBackground{
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #ABABAB;
    border-radius: 40px;
    margin-left: 4%;
    height: 70%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}